{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block head %} 
{% endblock %}

{% block content %}

<body style = 'background-image: url("static/background.png")' class="bodyFirstPage">
    <div>
            <p> Name of the platform </p>
            <p> Name of the policy / social issue chosen </p>
            <p> Resources on the chosen topic </p>
            <br>
            <button class="ui inverted grey button register" onclick="window.location='1-2'"> 
                Register 
            </button>
    </div>
    
</body>

{% endblock %}

<!--    
unused code:

# This is from the react website : https://reactjs.org/docs/add-react-to-a-website.html#add-react-in-one-minute
# we use this code to insert a react button

<div id="like_button_container"></div>

<body style = '
    background-image: url("static/background.png"); 
    background-repeat: no-repeat; 
    background-size: cover;'>


    <div style='margin: 0 auto; font-size:larger; color:whitesmoke'>

-->
