{% extends 'part1bar.html' %}

{% block title %} Research {% endblock %}

{% block head %} 
{% endblock %}

{% block content %}


<div id="register-div">
    <form method="POST" action='/1-3' id='registerForm'>
      <p> User name:</p>
        <div class="ui fluid input"> 
            <input type="text" name="userName" id="userName" oninput="check_name()" onchange="to_lower()">
        </div>
        <br>

    <div>
        <button class="ui button" style='display: none' id='check_again_button' onclick="check_name_again()">
            Check Again
        </button>
      <p id='usename_exists_warning' style='color:red ; display:none'> Sorry, the username already exists.</p>
    </div>
        <br>

      <p> Email: </p>
      <div class="ui fluid input"> 
          <input type="email" name="userEmail" id="userEmail">
      </div>
    <br>
    <br>
    <p> What is your point of view on {{ issue }} ?</p>
    <div class="wrap">
              <!--- action is basically the next page. remember to use relative path so it is more convenient during production
              -->
              <ul class='likert'>
                <li>
                  <input type="radio" name="original_stance" value='5'>
                  <label> Strongly agree </label>
                </li>
                <li>
                  <input type="radio" name="original_stance" value='4'>
                  <label> Agree </label>
                </li>
                <li>
                  <input type="radio" name="original_stance" value='3'>
                  <label>Neutral</label>
                </li>
                <li>
                  <input type="radio" name="original_stance" value='2'>
                  <label>Disagree</label>
                </li>
                <li>
                  <input type="radio" name="original_stance" value='1'>
                  <label>Strongly disagree</label>
                </li>
              </ul>
          </div>

        <div class="ui form">
            <p style='font-size:2.3vh'> Why or why not? </p>
                <div class="field">
                    <textarea name='reasoning' id='reasoning'></textarea>
                </div>
        </div>
        <br>

        <div class="ui warning message" style="display: none" id='warning'>
          Please answer every question, thank you. 
        </div>

      <br>
    <input type="submit" class="ui brown button" id="submit">

  </form>

    <div class="bottom">
    </div>


</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript'>

// create a flag. 1 means username already exists. 0 means username does not exist
// when flag == 1 we do not wish to let user submit the form
var flag = 0;

$('#submit').click(function(event) {
  if (flag == 1){
     event.preventDefault();
   }
  else if(!$('#userName').val() || 
      !$('#userEmail').val() || 
        !$('#reasoning').val() || 
        document.getElementById('registerForm').original_stance.value === ''){
          event.preventDefault();
          $('#warning').show("fast");
        }
  else {
    console.log('everything gud to me')
  }
});


function check_name(){
  $.ajax({
    type: 'GET',
    url: '/testing-' + $('#userName').val()
  })
  .done(function(data){
    if (data.exists == 'yes'){
      flag = 1
      $('#usename_exists_warning').css({"display" : "inline"});
      $('#check_again_button').show();
    }
  })
}

function check_name_again(){
  event.preventDefault()
  $.ajax({
    type: 'GET',
    url: '/testing-' + $('#userName').val()
  })
  .done(function(data){
    if (data.exists == 'yes'){
      $('#usename_exists_warning').text('Sorry, the username already exists.')
      $('#usename_exists_warning').css({'color': 'red'})
      $('#check_again_button').show();
    }
    else {
      console.log('does not exist')
      flag = 0
      $('#usename_exists_warning').text('Yes! This username is available.')
      $('#usename_exists_warning').css({'color': 'green'})
    }
  })
}

function to_lower(){
  $('#userName').val($('#userName').val().toLowerCase())
}



</script>

{% endblock %}