<!doctype html>
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"></link>
    <title> Research </title>
</head>

<body>
    <div class="topBar">
        <p id="part1" style="font-size:2.3vh"> Welcome back, {{user}} </p>
    </div>
    <div id="register-div">
        <div>
            <img src="{{url_for('static', filename='light_bulb.png')}}" width="30px">
            <strong> RECAP: </strong> 
            <p>
                In the previous stage of this reserach, you indicated that you are 
                <strong> {{ stance_original }} </strong> about {{ issue }}. 
                The reasoning you gave was : 
                
            </p>
            <div class="ui message">
                <div class="header">
                    {{ stance_original }}
                </div>
                <p> {{ reasoning_original}}</p>
            </div>

            <br>

            <p>
                In addition, if you were to <strong> {{ stance_imagined}}  </strong>
                with {{ issue }}, your reasoning was : 
            </p>
            <div class="ui message">
                <div class="header">
                    {{ stance_imagined }}
                </div>
                <p> {{ reasoning_imagined}}</p>
            </div>
                   
            <div class="ui hidden divider"></div>
            <p> <strong> Below are several reasonings given by other participants. </br>
                Please give each reasoning a score based on the following dimensions. </br>
                <br>
                The score ranges from 1 to 5.  
                A score of 5 implies that the reasoning successfully fulfilles the dimension.
                </strong>
            </p>
        </div>
        <br>

        <form action="/thank_you" method='POST' id='form-2-2'>
            {% for reason_id, reason in reasonings.items() %}
            <div class="ui padded segment"> 
                <p> 
                    {{reason}}
                </p>
            </div>
            <br>

            <div id="multiple-scale-form">
            <p id='question'> Does this reasoning fulfill the following dimensions? </p>

                {% for dim_id, dim in dimensions.items() %}
            <p> <strong>{{dim}}: </strong> </p>
                    <div class="ui form">
                            <div class="inline fields">
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name={{reason_id~dim_id}} value='1'>
                                                <label>1</label>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name={{reason_id~dim_id}} value='2'>
                                                <label>2</label>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name={{reason_id~dim_id}} value='3'>
                                                <label>3</label>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name={{reason_id~dim_id}} value='4'>
                                                <label>4</label>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name={{reason_id~dim_id}} value='5'>
                                                <label for={{reason_id~dim_id}}>5</label>
                                        </div>
                                    </div>
                            </div>
                                
                    </div>
                {% endfor %}
                <div class="ui hidden divider"></div>

            </div>
            {% endfor %}

            <button class="ui brown button" id="submit">Submit</button>
            <div class="bottom"></div>
        </form>
    </div>

</body>

</html>

