{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block head %} 
{% endblock %}

{% block content %}

<body style = 'background-image: url("static/background.png")' class="bodyFirstPage">
    <div class='loginDiv'>
        <div id='loginText'>
        <p> Name of the platform : <br>
        </p>
        <form action='/3-2' method='POST'>
            <input type="text" name="inputUserName" id="inputUserName"
            placeholder='User Name:' onchange="to_lower()">
                <br>
                <br>
                <br>
            <button class="ui inverted grey button login"> 
                Login 
            </button>
        </form>
        </div>
    </div>
</body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript'>

function to_lower(){
  $('#inputUserName').val($('#inputUserName').val().toLowerCase())
}

</script>


{% endblock %}