{% extends 'bar.html' %}

{% block title %} Research {% endblock %}
{% block head %} 
{% endblock %}

{% block content %}

<p> {{reasonings_3}} </p>
<div id="register-div">
    <div>
        <p> <strong>Below are 9 reasonings with assigned scores. </br>
                Based on you own opinion, please indicate how fair you think the score for each reasoning is on a 1 to 5 scale. </br> A fairness score of 5 implies that you think the score given to the reasoning is perfectly fair.                
            </strong>
        </p>
    </div>
    <br>


<!-- The name tag inside each submission is what will get back to the server
e.g. name="fruit_1" + value="apple" will send back fruit_1 as apple
-->

    <form>
        {% for reasoning in reasonings_3 %}
        <div class="ui padded segment"> 
            <p> 
                {{reasoning}}
            </p>
        </div>
        <br>

        <div id="multiple-scale-form">
        <p id='question'> Does this reasoning fulfill the following dimensions? </p>

            {% for fair_dim in fair_dims %}
                <div class="ui form">
                        <div class="inline fields">
                            <label> 
                                {{fair_dim}}: 
                            </label>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="change_this_part_should_be_reasoning_id" value=1>
                                            <label>1</label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="change_this_part_should_be_reasoning_id" value=2>
                                            <label>2</label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="change_this_part_should_be_reasoning_id" value=3>
                                            <label>3</label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="change_this_part_should_be_reasoning_id" value=4>
                                            <label>4</label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="change_this_part_should_be_reasoning_id" value=5>
                                            <label>5</label>
                                    </div>
                                </div>
                        </div>
                </div>
            {% endfor %}
            <div class="ui hidden divider"></div>
        </div>
        {% endfor %}
    </form>

    <br>
    <button class="ui brown button" id="submit">Submit</button>
    <div class="bottom"></div>

</div>


{% endblock %}


